body{
  background-color:#ebe4db;
}

.purple-nav {
  background-color:#8f587c;
  margin-bottom:25px;
}
.brand-name {
  font-family: 'Abril Fatface', cursive;
  font-size:2em;
}

.nav-item {
  font-family: 'Open Sans', sans-serif;
}

.main-logo {
  width:50px;
  height:50px;
}

.login-form {
  background-image: url('/src/images/form-background.png');
  background-repeat: no-repeat;
  background-size:cover;
  border-radius:10px;
  height:100%;
  -webkit-box-shadow: 15px 20px 18px 8px rgba(161,124,107,1);
  -moz-box-shadow: 15px 20px 18px 8px rgba(161,124,107,1);
  box-shadow: 15px 20px 18px 8px rgba(161,124,107,1);
  width:90%;
  margin:auto;
  border: 0.5px solid black;
}

.form-header {
  font-family: 'Abril Fatface', cursive;
  font-size:4em;
  margin-left:20px;
  color:white;
  text-shadow:
  -0.5px -0.5px 0 #000,  
  0.5px -0.5px 0 #000,
   -0.5px 0.5px 0 #000,
   0.5px 0.5px 0 #000;

}

.space-between {
  height:120px;
}

.form-label{
  margin-left:20px;
  margin-top:10px;
  font-weight:bold;
  color:#a8a3a6;
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
}


.no-border{
  outline: 0;
  border-width: 0 0 2px;
  border-color: #8f587c;
  border-radius:0px;
  width:80%;
  margin:auto;
  font-family: 'Open Sans', sans-serif;
  background-color: transparent;
 
}

.sign-in {
  margin-left:20px;
  margin-top:20px;
  font-family: 'Arial';
  font-size:1.5rem;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
}

.button-round {
  background-color: #8f587c;
  color: white;
  border: none;
  padding: 5px;
  font-size: 1rem;
  height: 60px;
  width: 60px;
  border-radius: 50%;
}

.bottom-form-text {
  color:#a8a3a6;
  font-family: 'Open Sans', sans-serif;
  font-size:1rem;
  font-weight:bold;
  display:inline-block;
}

.form-arrow{
  width:50%;
}

.side-by-side {
  display:inline-block;

}

.no-border:focus
{
    border: 1px solid #8f587c;
    box-shadow: 0 0 5px #8f587c;
    outline-offset: 0px;
    outline: none;
}
